/**
* ============================================================================
* TABLE OF CONTENTS
*
* 1. OVERALL
* 2. HEADER
* 3. NAVIGATIONS
* 4. CONTENT
* 	4.1 HOMEPAGE
*		4.1.1 FEATURE ICONS
* 		4.1.2 FEATURED DESTINATIONS
* 		4.1.3 FEATURED ITINERATORS
* 		4.1.4 WHY ITINERATION
* 		4.1.5 EASY STEPS
* 		4.1.6 HOME BOTTOM START
* 	4.2 INPUT NAVIGATION
* 	4.3 INPUT STYLE
* 		4.3.1 INPUT STYLE HEADING
* 		4.3.2 INPUT STYLE CONTENT
* 	4.4 PREFERENCES DATA
* 		4.4.1 PREFERENCES DATA CONTENT
* 	4.5 PICK ITINERATORS
* 		4.5.1 PICK ITINERATORS CONTENT
* 	4.6 SUMMARY
* 		4.6.1 SUMMARY CONTENT
* 		4.6.2 SUMMARY MODAL FOR LOGIN AND REGISTER
* 	4.7 USER LOGIN
* 		4.7.1 USER LOGIN CONTENT
* 	4.8	USER PROFILE
* 		4.8.1 USER PROFILE CONTENT
* 	4.9 REGISTRATION
* 		4.9.1 REGISTRATION CONTENT
* 	4.10 VALIDATION
* 		4.10.1 VALIDATION CONTENT
* 5. ETC
* 	5.1	BACKEND TO ADD ITINERATORS
* 	5.2 BACKEND TO ADD CITIES & PLACES
* 	5.3 CUSTOM CHECKBOX & RADIO BUTTONS
* 6. FOOTER
* 7. ADMIN PAGE
* 	7.1 ADMIN HOME
* 8. ITINERATORS PAGE
*	8.1 ITINERATORS HOME
*	8.2 MY JOB
* ============================================================================
*/




/* 1. OVERALL */
html, body{
	font-family: "Raleway";
	font-weight: normal;
	/*font-size: 18px;*/
	background-color: #eeeeee;
	margin: 0;
	padding: 0;
}

.container-fluid{
	margin: 0;
	padding: 0;
}

.row{
	margin: 0;
}

.reg-warning{
	display: none;
	font-size: 14px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #f2dede;
	border-radius: 5px;
	border-color: #ebccd1;
	color: #a94442 !important;
}

.errorinput{
	font-size: 14px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #f2dede;
	border-radius: 5px;
	border-color: #ebccd1;
	color: #a94442 !important;
}

.invalid-reg{
	border: 1px solid #fc9417 !important;
	background-color: #f2dede !important;
}

p,h1,h2,a{
	font-size: 18px;
	color: #333333;
}

p.inputitineraryinstruction1{
	margin-top: 40px;
    text-align: center;
}


/* 2. HEADER */
header{
	background-image: url("../images/BackgroundTop.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
}

header.homeheader{
	height: 758px;
}

header.basicheader{
	background-image: url("../images/maptop.png");
}

.basicheaderpattern{
	height: 250px !important;
}

.patternover{
	background: url("../images/patternover.png");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 758px;
}

.header-content{

}

.site-logo{

}

.site-logo img{
	max-width: 100%;
	width: auto;
	height: 100px;
	object-fit: contain;
	display: block;
	margin: 30px auto;
}

.lastitinerary{
	margin-bottom: 10px;
	margin-top: -20px;
}

.lastitinerarybox{
	width: 100%;
	min-height: 62px;
	margin: 0 50px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
  	border: solid 1px #ffffff;
}

.lastitinerarybox p{
	text-align: justify;
	font-size: 14px;
  	color: #000000;
  	font-weight: bold;
  	margin: 13px 10px 10px 20px;
}

.lastitinerarybox-c1 p{
	text-align: left;
	margin-left: 0;
}

.lastitinerarybox-c2{
	padding: 0;
}

.lastitinerarybox-c2 p{
	font-size: 18px;
	text-align: center;
	margin-top: 10px;
}

.lastitinerarybox-c3 p{
	font-size: 18px;
	text-align: right;
	margin-right: 0;
	margin-top: 10px;
}

.lastitinerary_citydate{
	font-size: 18px;
    float: right;
    margin-top: -5px;
    margin-right: 10px;
}

.schedule-home{

}

.schedule-home span#basic-addon1{
	/*opacity: 0.6;*/
}

.schedule-home-content{
	margin-left: 50px;
	margin-right: 50px;
}

.schedule-home-content-bg{
	width: 100%;
	height: 470px;
	/*height: auto;*/
	/*background-color: rgba(255, 255, 255, 0.9);*/
  	/*border: solid 1px #2a2a2a;*/
  	margin-top: 25px;
    margin-bottom: 80px;
    position: relative;
}

.schedulehome-selectdestination{
	padding-top: 180px;
	padding-bottom: 20%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.selectdestination-dropdown{
	background: rgba(0,0,0,0.8);
	/*-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.3);
	box-shadow: 0 1px 0 rgba(255,255,255,0.3);*/
    -moz-border-radius: 7px 5px 5px 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px 5px 5px 7px;
    /*padding-top: 5px;
    padding-bottom: 5px;*/
   /* max-width: 475px;*/
    display: block;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 17px;
    margin-top: 20px;
}

.selectdestination-dropdown select#selectdestination{
	appearance:none;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari and Chrome */
	background: no-repeat right #ffffff;
}

.searchbox:after {
    content:"\f0d7";
    font-family: FontAwesome;
    color: #fff;
    padding: 12px 8px;
    position: absolute; right: 0; top: 0;
    background: #fc9417;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
}

.selectdestination-dropdown ul{
	text-align: center;
	list-style-type: none;
	padding: 0 0 20px;
	margin: 0;
}

.selectdestination-dropdown ul li{
	display: inline-block;
}

.searchbox{
	width: 300px;
	float: left;
	position: relative;
}



.selectdestination-arrow{
	position: absolute;
	right: 10px;
    top: 14px;
	color: #fc9417;
	cursor: pointer;
}

.selectdestination-go{
	margin-left: 5px;
	float: right;
}

.selectdestination-go button{
	display: block;
    width: 150px;
    height: 48px;
    background-color: #fc9417;
	background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255,255,255,0.05)), color-stop(100%, rgba(0,0,0,0.05)));
    background-image: -moz-linear-gradient(rgba(255,255,255,0.05), rgba(0,0,0,0.05));
    background-image: -webkit-linear-gradient(rgba(255,255,255,0.05), rgba(0,0,0,0.05));
    background-image: linear-gradient(rgba(255,255,255,0.05), rgba(0,0,0,0.05));
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: none;
    color: #ffffff;
}

.schedulehome-selectdestination label{
	text-align: center;
	margin: 15px auto;
    display: block;
    font-size: 50px;
}

.schedulehome-selectdestination select{
	/*margin: 0 auto;
    display: block;*/
    /*max-width: 50%;*/
    width: 100%;
    /*display: table-cell;*/
    min-width: 148px;
    height: 46px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}

.schedule-home-content img{
	width: 100%;
	height: auto;
	object-fit: contain;
	display: block;
	margin: 0 auto;
	z-index: 0;
	position: absolute;
}

.schedule-home-content h1{
	/*font-size: 25px;*/
	color: #333333;
	font-weight: bold;
	text-align: center;
	margin-top: 27px;
}

.schedule-home-content h2{
	/*font-size: 14px;*/
	color: #333333;
	font-weight: bold;
	margin-top: 10px;
}

.schedule-home-content .dummyline1{
	width: 52px;
	height: 3px;
	border-bottom: solid 1px #646464;
	text-align: center;
	margin: 0 auto;
}

.schedule-home-arrival{
	margin-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.schedule-home-return{
	margin-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.input-group{
	margin-top: 15px;
}

.input-group-addon{
	/*width: 71.3px;*/
	height: 33px;
	border-radius: 3px;
	background-color: rgba(242, 242, 242, 0.5);
	border: solid 1px #cccccc;
}

.home-airport{
	width: 215.1px;
	height: 33px;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.1);
	border: solid 1px #cccccc;
}

.group-home-date{
	float: left;
	width: 155px;
}

.group-home-date .home-date{
	width: 100px;
	height: 33px;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.1);
	border: solid 1px #cccccc;
}

.group-home-date .home-date1{
	width: 100px;
	height: 33px;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.1);
	border: solid 1px #cccccc;
}

.group-home-time{
	float:right;
	width: 100px;
}

.group-home-time .home-time{
	width: 122px;
	height: 33px;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.1);
	border: solid 1px #cccccc;
}

.home-day p{
	font-size: 18px;
	color: #333333;
	text-align: center;
	font-style: italic;
	margin-top: 20px;
}

.range-slider{
	margin-top: 30px;
}

#slider {
	width: auto;
	/*width: 370px;*/
	height: 5px;
	position: relative;
	background: #fc9417;

	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	margin-left: auto;
	margin-right: auto;
}

#slider .bar {
	/*width: 388px;*/
	cursor: pointer;
	height: 5px;
	position: relative;
	background: #fc9417;
	outline: none;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}

#slider .highlight {
	/*height: 2px;
	position: absolute;
	width: 388px;
	top: 6px;
	left: 6px;

	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;

	background: rgba(255, 255, 255, 0.25);*/
}

input[type="range"] {
	-webkit-appearance: none;
	background-color: transparent;
	height: 2px;
}

input[type="range"]:focus{
	outline: none;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	position: relative;
	background-color: #fc9417;
	top: 0px;
	z-index: 1;
	width: 22px;
	height: 22px;
	cursor: pointer;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	border:none;
}

.homeheader input[type="range"]::-webkit-slider-thumb{
	background-image: url("../images/circledate.png");
	background-size: 22px auto;
	background-position: center;
	background-color: transparent;
}

input[type=range]::-moz-range-track {
	background-color: transparent;
	height: 5px;
}

input[type="range"]::-moz-range-thumb {
	-webkit-appearance: none;
	position: relative;
	background-color: #fc9417;
	top: 0px;
	z-index: 1;
	width: 22px;
	height: 22px;
	cursor: pointer;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	border:none;
}

.homeheader input[type="range"]::-moz-range-thumb{
	background-image: url("../images/circledate.png");
	background-size: 22px auto;
	background-position: center;
	background-color: transparent;
}

/*
input[type="range"]:hover ~ #rangevalue,input[type="range"]:active ~ #rangevalue {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	top: -75px;
}
*/

#rangevalue {
	color: #333333;
	font-size: 48px;
	font-weight: bold;
	font-style: normal;
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;

	width: 70px;
    height: 50px;
    text-align: center;
}

#dayrangetooltip{
	position: absolute;
	background-color: #fc9417;
	width: 30px;
	height: 30px;
	text-align: center;
	color: #ffffff;
	border-radius: 50px;
	display: inline-block;
	bottom: 450%;
	left: 0;
	margin-left: -1%;
	padding: 5px;
}

#dayrangetooltip:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #fc9417;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}

.home-packages-continue{
	text-align: center;
	margin-top: 100px;
	margin-bottom: 20px;
}

.home-packages-continue button{
	width: 147px;
	height: 45px;
	border-radius: 40px;
	background-color: #fc9417;
	display: block;
	margin: 0 auto;
	border: none;
	color: #ffffff;
	font-size: 18px;
}

.home-packages-continue a{
	text-decoration: none;
	font-size: 18px;
	color: #ffffff;
}

.home-registration{
	text-align: center;
	margin-top: 14px;
}

.home-registration p{
	font-size: 14px;
	font-weight: normal;
	color: #333333;
	margin-top: 15px;
}

.home-registration button{
	width: 121px;
	height: 45px;
	border-radius: 40px;
	background-color: #bd9657;
	border: none;
	display: block;
	margin: 20px auto;
}

.home-registration .signin-home{
	text-decoration: none;
	font-size: 18px;
	color: #ffffff;
}

.home-registration a{
	font-size: 12px;
	color: #333333;
	text-decoration: underline;
}


/* 3. NAVIGATIONS */
.navbar{
	background-color: rgba(150,200,255,0.3);
	overflow: hidden;
	top: 0;
	z-index: 1;
	width: 100%;
	/*height: 123px;*/
	height: auto;
	margin: 0;
	padding: 15px 0;

}

.navbar .container{
	text-align: center;
}

.navbg{
	height: 123px;
    width: 100%;
    /*background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));*/
    background-image: url("../images/Rectangle1.png");
    /*opacity: 0.7;*/
    position: absolute;
    top: 0;
    display: none;
}

.basicheader-navbar{
	height: 250px;
	border-bottom: solid 1px #fc9417;
}

.navbar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navbar ul li{
	display: inline-block;
	margin: 0 10px;
	vertical-align: text-top;
}

.navbar a{
	text-decoration: none;
	font-size: 14px;
  	color: #ffffff;
}

.navmenu{
	margin-top: 10px;
	text-align: left;
}

.navlogo{
	/*float: left;*/
}

.navlogo img{
	margin: 0 auto;
}



.navbar .navlogo ul{
	list-style-type: none;
}

.navbar .navlogo ul li{
	display: flex;
}

.navlogo ul li:nth-child(1){
	font-size: 24px;
	margin-top: -5px;
	font-weight: bold;
}

.navaccount{
	margin-top: 10px;
	font-size: 14px;
  	color: #ffffff;
  	text-align: right;
}

.navaccount a, .nav-account p{
	font-size: 14px;
  	color: #ffffff;
}


/* 4. CONTENT */
/* 4.1 HOMEPAGE */
/* 4.1.1 FEATURE ICONS */
.featureicons{
	padding: 15px;
    border-bottom: solid 1px;
}

.featureicons ul{
	list-style-type: none;
	text-align: center;
}

.featureicons ul li{
	display: inline-block;
	margin: 0 10px;
	font-size: 18px;
}


/* 4.1.2 FEATURED DESTINATIONS */
.featureddestinations{
	text-align: center;
}

.featureddestinations ul{
	list-style-type: none;
	margin: 0px auto 20px;
	padding: 0;
}

.featureddestinations ul li{
	max-width: 240px;
	height: 240px;
	width: 100%;
	/*height: 100%;*/
	position: relative;
	display: inline-block;
	margin: 5px 5px;
}

.featured_image{

}

.featured_image img{
	object-fit: cover;
	border-radius: 20px;
	max-width: 240px;
	height: 240px;
	width: 100%;
	/*height: 100%;*/
}

.blackmask{
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: width 2s, height 2s, background-color 2s;
}

.blackmask:hover{
	background-color: rgba(0, 0, 0, 0);
    width: 105%;
    height: 105%;
    
}

.featureddestinations_caption{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.featureddestinations_caption p{
	font-size: 33px;
    color: #ffffff;
    text-align: right !important;
    margin-right: 21px;
    margin-bottom: 12px;
}

.alldestinations{

}

.morebutton{
	margin-top: 40px;
	width: 213px;
	height: 32px;
	border: solid 1px #fc9417;
	background-color: transparent;
	font-size: 18px;
  	color: #fc9417;
  	-webkit-transition:all 150ms ease-in;
	-moz-transition:all 150ms ease-in;
	-ms-transition:all 150ms ease-in;
	-o-transition:all 150ms ease-in;
	transition:all 150ms ease-in;
}

.morebutton:hover{
	color: #ffffff;
	background-color: #fc9417;
}


/* 4.1.3 FEATURED ITINERATORS */
.featureditinerators{
	text-align: center;
}

.featureditinerators ul{
	list-style-type: none;
	margin: 0px auto 20px;
	padding: 0;
}

.featureditinerators ul li{
	max-width: 240px;
	height: 240px;
	width: 100%;
	/*height: 100%;*/
	position: relative;
	display: inline-block;
	margin: 5px 5px;
}

.insideborder{
	border: solid 1px #ffffff;
    width: 214px;
    height: 214px;
    position: absolute;
    margin: 13px;
    z-index: 10;
    transition: width 2s, height 2s, background-color 2s;
}

.insideborder:hover{
}

.featureditinerators .itineratorsrating{
	position: absolute;
	top: 5px;
	right: 5px;
	border-radius: 50%;
	width: 53px;
	height: 53px;
	background-color: #fc9417;
	z-index: 11;
}

.featureditinerators .itineratorsrating p{
	font-size: 20px;
  	color: #ffffff;
  	margin-top: 13px;
    margin-bottom: 11px;
}

.featureditinerators_caption{
	position: absolute;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	bottom: 0;
	left: 0;
	right: 0;
	height: 58px;
    background-color: rgba(22, 22, 22, 0.55);
    padding-top: 14px;
    padding-bottom: 10px;
    z-index: 11;
}

.featureditinerators_caption p{
	font-size: 20px;
    color: #ffffff;
  	text-align: center !important;
  	margin-right: 10px;
  	margin-bottom: 5px;
}

.allitinerators{

}


/* 4.1.4 WHY ITINERATION */
.why-itineration-sp{
	display: none;
}

.why-itineration-pc{
	background-color: #ffffff;
	margin-top: 80px;
}

.why-itineration-pc h1{
	/*font-size: 36px;
	color: #8b572a;
	font-weight: bold;
	text-align: center;
	margin-top: 39px;*/
}

.why-itineration-pc ul{
	list-style-type: none;
	margin: 0;
	/*margin-top: 50px;*/
	padding: 0;
	text-align: center;
}

.why-itineration-pc ul li{
	display: inline-block;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 30px;
	width: 160px;
	vertical-align: text-top;
	cursor: pointer;
}

.why-icon img{
	width: auto;
	height: 100px;
	display: block;
	margin: 0 auto;
}

.why-icon p{
	font-size: 18px;
	color: #333333;
	font-weight: bold;
	text-align: center;
	margin: 20px auto;
	margin-bottom: 26px;
}

.why-triangle{
	margin-top: 0 !important;
}

.triangle{
	display: inline-block;
	margin: 0 auto;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	border-left: 20px solid #F44336;
	border-top: 20px solid #F44336;
	border-bottom: 20px solid transparent;
	border-right: 20px solid transparent;
}

.triangle:not(.active){
	display: none;
}

.why-itineration-desc{
	width: 100%;
	height: auto;
	background-color: #F44336;
	margin-top: -30px;
	padding: 0;
}

.why-itineration-desc .col-md-8, .col-md-2, .col-md-12{
	padding: 0;
}


.why-itineration-desc p{
	font-size: 22px;
	color: #ffffff;
	text-align: center;
	margin-top: 90px;
	margin-bottom: 90px;
}

.why-desc{
	display: block;
}

.why-desc:not(.active){
	display: none;
}


/* 4.1.5 EASY STEPS */
.easy-steps h1{
	font-size: 36px;
	color: #8b572a;
	font-weight: bold;
	margin-top: 66px;
	text-align: center;
}

.easy-steps h2{
	text-align: center;
	font-weight: bold;
}

.easy-steps h3{
	text-align: center;
	font-weight: bold;
}

.easy-steps p{
	text-align: center;
	font-weight: bold;
}

.easy-steps img{
	display: block;
	margin: 10px auto;
	max-width: 500px;
	width: 100%;
	height: auto;
	text-align: center;
}

.step1{
	margin-top: 50px;
}

.step1 h2{
	margin-top: 60px;
	font-size: 80px;
	color: #3e7958;
}

.step1 h3{
	font-size: 35px;
	color: #3e7958;
}

.step1 p{
	font-size: 22px;
	color: #3e7958;
}

.step2 h2{
	font-size: 80px;
	color: #9c3411;
	margin-top: 70px;
}

.step2 h3{
	font-size: 35px;
	color: #9c3411;
}

.step2 p{
	font-size: 22px;
	color: #9c3411;
}

.step3 h2{
	font-size: 80px;
	color: #202471;
	margin-top: 70px;
}

.step3 h3{
	font-size: 35px;
	color: #202471;
}

.step3 p{
	font-size: 22px;
	color: #202471;
}


/* 4.1.6 HOME BOTTOM START */
.home-bottom-start{
	text-align: center;
	background-image: url("../images/bottomstart.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	/*height: 500px;*/
	/*margin-top: 140px;*/
}

.home-bottom-start-content{
	padding-top: 118px;
    padding-bottom: 89px;
	background-color: rgba(0, 0, 0, 0.44);
}

.home-bottom-start h1{
	font-size: 48px;
	font-weight: bold;
	color: #ffffff;
	text-shadow: 0 2px 4px rgba(255, 250, 250, 0.5);
}

.home-bottom-start button{
	width: 270px;
	height: 48px;
	border-radius: 25px;
	background-color: #fc9417;
	border: none;
	margin-top: 30px;
	letter-spacing: 1px;
}

.home-bottom-start a{
	text-decoration: none;
	font-size: 16px;
	color: #ffffff;
}


/* 4.2 INPUT NAVIGATION */
.input-navigation{
	text-align: center;
	margin-top: 30px;
}

.input-navigation ul{
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
}

.input-navigation ul li{
	display: inline-block;
}

.inputcircle{
	width: 24px;
	height: 24px;
	border: solid 2px #fc9417;
	background-color: #f5efe6;
	border-radius: 50%;
	margin: 0 auto;
	display: block;
	text-align: center;
}

.inputcircle-active{
	/*width: 24px;
	height: 24px;*/
	background-color: #fc9417 !important;
	/*border: solid 2px #fc9417;*/
	border-radius: 50%;
	margin: 0 auto;
	display: block;
	text-align: center;
}

.inputcircle-text{
	text-align: center;
	font-size: 16px;
	color: #333333;
	/*margin: 10px 23px;*/
	margin-top: 15px;
}

.inputnav-line-white{
	width: 100px;
}

.inputcircle-text .active{
	font-weight: bold !important;
}

.inputnav-line{
	width: 212px;
	height: 3px;
	border-bottom: solid 2px #fc9417;
	/*margin-bottom: 23px;*/
	margin-left: -5px;
	margin-right: -5px;
	vertical-align: text-top;
}

.stepsbar {
	padding: 1em 0;
  	width: 100%;
  	margin-top: 30px;
}

.stepsbar a{
	font-size: 16px;
}

.stepsbar span{
	font-size: 16px;
	color: #333333;
}

.stepsbar ol{
	/*overflow: hidden;*/
    margin: 0;
    padding: 1em 0;
    list-style: none;
    line-height: 1.2;
    /*font-size: 1em;*/
    /*counter-reset: li;*/
    text-align: center;
}

.stepsbar li{
	/*float: left;
    display: inline;*/
    display: inline-block;
    position: relative;
    /*counter-increment: li;*/
    width: 22%;
    text-align: center;
    color: #333333;
    transition: all 0.5s ease;
}

.stepsbar li:before{
	/*content: counter(li);*/
	content: '';
	position: relative;
	background-color: #f5efe6;
	width: 24px;
	height: 24px;
	margin: 0 auto .8em;
	border-radius: 100%;
	text-align: center;
	display: block;
	z-index: 2;
	border: 2px solid #fc9417;
}

.stepsbar li:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	display: block;
	background: #fc9417;
	z-index: 1;
	top: 50%;
	left: 50%;
	margin-top: -1em;
}

.stepsbar li:nth-child(4):after{
	display: none;
}

.stepsbar li.laststep:after{
	display: none;
}

.stepsbar li.active:before{
	background-color: #fc9417;
}



/* 4.3 INPUT STYLE */
/* 4.3.1 INPUT STYLE HEADING */
.input-style-heading{

}

.input-style-heading h1{
	text-align: center;
	font-size: 36px;
	color: #333333;
	font-weight: bold;
	margin-top: 70px;
}

.input-style-heading-table{
	margin: 0 auto;
}

.input-style-heading-table-left{
	text-align: right;
}

.input-style-heading-table-middle{
	text-align: center;
}

.input-style-heading-table-middle img{
	display: block;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.input-style-heading-table-right{
	text-align: left;
}

.startover{
	margin-bottom: 25px;
}

.startoverbox{
	border: solid 1px #fc9417;
	margin-top: 50px;
}

.startoverbox-content{
	padding-top: 10px;
	padding-bottom: 10px;
}

.startoverbox h1{
	margin-top: 10px;
	font-size: 24px;
	font-weight: bold;
}

.startoverbox h2{
	font-weight: bold;
	margin-top: 10px;
}

.startoverbox-content-p1{
	padding-left: 10px;
}

.startoverbox-content-p2{

}

.startoverbox-content-p2 button{
	max-width: 132px;
	width: 100%;
	height: 40px;
	border-radius: 8px;
	background-color: #fc9417;
	color: #ffffff;
	font-size: 14px;
	border: none;
	margin: 20px auto;
    display: block;
}

.startoverbox-content-p2 a{
	text-decoration: none;
}


/* 4.3.2 INPUT STYLE CONTENT */
.inputstyle-sectionline{
	max-width: 943px;
	width: 100%;
	height: 3px;
	border-bottom: solid 1px #979797;
	text-align: center;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.notification-limitpick{
	padding-top: 10px;
	padding-bottom: 10px;
}

.notification-limitpick{
	visibility: hidden;
}

.notification-limitpick.show-note{
	visibility: visible;
	display: block !important;
	margin-bottom: 20px;
	margin-top: 20px;
}

.notification-limitpick p{
	color: #fc9417;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}

.input-style-content{
	margin-top: -30px;
}

.input-style-calendar{
	padding-left: 10%;
	padding-right: 10%;
}

.input-style-calendar .calendar{

}

.input-style-calendar .calendar-table{
	border: none;
	margin-top: 30px;
}

.calendar-table th{
	text-align: left;
	font-size: 18px;
	color: #333333;
	border: none;
}

.calendar-table td{
	border: none;
}

.calendar-table .calendar-table-dayname{
	text-align: center;
	font-size: 18px;
	color: #333333;
	font-weight: bold;
	border: none;
}

.calendar-table .daynum-outdated{
	text-align: center;
	font-size: 18px;
	color: #9c9c9c;
	border: none;
}

.calendar-table .daynum{
	text-align: center;
	font-size: 18px;
	color: #333333;
	border: none;
}

.input-style-button{

}

.input-style-button h1{
	font-size: 72px;
	color: #fc9417;
	font-style: italic;
}

.input-style-button p{
	font-size: 14px;
	color: #333333;
	margin-top: 30px;
}

.input-style-checkmark{
	float: right;
	margin-top: 10px;
}

.input-style-checkmark:not(.active){
	display: none;
}

.input-style-checkmark .active{
	display: block;
}

.input-style-button-simple{
	width: 386px;
	height: auto;
	border-radius: 8px;
	border: solid 1px #535353;
	margin-top: 50px;
	padding-left: 18px;
	padding-right: 18px;
	padding-bottom: 18px;
}

.input-style-button-simple label{
	cursor: pointer;
}

.input-style-button-simple.active{
	border: solid 4px #fc9417 !important;
}

.input-style-button-detail{
	width: 386px;
	height: auto;
	border-radius: 8px;
	border: solid 1px #535353;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-left: 18px;
	padding-right: 18px;
	padding-bottom: 18px;
}

.input-style-button-detail label{
	cursor: pointer;
}

.input-style-button-detail.active{
	border: solid 4px #fc9417 !important;
}

.input-style-backnextbutton{
	text-align: right;
	width: 417px;
	height: auto;
}

.input-style-backnextbutton.inputstylebottomnav{
	text-align: center;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.input-style-backnextbutton ul{
	list-style-type: none;
	margin-top: 30px;
	margin-bottom: 20px;
	padding: 0;
}

.input-style-backnextbutton ul li{
	display: inline-block;
	vertical-align: middle;
	margin: auto 5px;
}

.input-style-backbutton{
	width: 95px;
	height: 40px;
	border-radius: 8px;
	background-color: #909090;
	border: none;
	font-size: 14px;
	color: #ffffff;
	/*margin-right: 10px;*/
}

.input-style-nextbutton{
	width: 95px;
	height: 40px;
	border-radius: 8px;
	background-color: #fc9417;
	border: none;
	font-size: 14px;
	color: #ffffff;
	/*margin-left: 10px;*/
}

.inputstyletype{
	display: none;
}

.inputstylecalendar{
	display: none;
}

label.spandaynum {
	background-color:transparent;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	text-decoration:none;
	text-align:center;
	/*width:auto;*/
	/*height: auto;*/
	/*padding: 20px 0;*/
	cursor:pointer;
	display:block;
	margin: 0 auto;
	-webkit-transition:background-color 150ms ease-in;
	-moz-transition:background-color 150ms ease-in;
	-ms-transition:background-color 150ms ease-in;
	-o-transition:background-color 150ms ease-in;
	transition:background-color 150ms ease-in;
}

input[type=checkbox]:checked + label.spandaynum {
	background-color:#fc9417;
	color: #ffffff;
	text-decoration:none;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
}

.selected{
	/*background-color:#fc9417 !important;*/
	background-image: url("../images/circledate.png") !important;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	color: #ffffff !important;
	text-decoration:none;
	/*-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;*/
}

.inputstylepage{
	margin-bottom: 300px;
}


/* 4.4 PREFERENCES DATA */
/* 4.4.1 PREFERENCES DATA CONTENT */
.preferencesdata-content{
	margin-top: 50px;
	margin-bottom: 50px;
}

.currencyconversiontd{
	padding-top: 0;
}

.currencyconversionresult{
	vertical-align: super;
	font-weight: bold;
    font-size: 18px;
}

.preferences-interest{
	margin-bottom: 50px;
}

.preferences-datelist{
	border-right: 2px solid #fc9417;
	min-height: 500px;
	width: 9%;
}

.preferences-datelist .datelist-manual{

}

.preferences-datelist .datelist-all{
	display: none;
}

.preferences-datelist ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.preferences-datelist ul li{
	margin: 10px 10px;
	font-size: 14px;
	text-align: right;
}

.preferences-datelist ul li.active a{
	color: #fc9417;
	text-decoration: none;
	font-weight: bold;
}

.prefdate-sectionline{
	width: 69px;
	height: 3px;
	border-top: solid 1px #979797;
	position: absolute;
    right: 0;
}

.warn-prefdatapage{
	margin-bottom: 20px;
}

.pref-cityplace .inputitineraryinstruction1{
	font-size: 16px;
    text-align: justify;
    margin-bottom: 30px;
}

.pref-manual{

}

.pref-all{
	display: none;
}

.preferences-option{
	padding-left: 40px;
	/*padding-right: 40px;*/
	width: 91%;
}

.preferences-option img{
	width: 500px;
	height: 300px;
	object-fit: cover;
	margin: 10px auto;
}

.preferences-option .panel-group .panel{
	border: none;
	margin-bottom: 20px;
	box-shadow: none;
}

.preferences-option .thumbnail{
	border: none;
	border-radius: 0;
	box-shadow: none;
	/*position: relative;*/
	padding: 0;
}

.day-item-city-pic{
	/*border-bottom: solid 1px #fc9417 !important;*/
}

.prefcitythumbnail-boxborder{
	border: solid 1px #ffffff;
    position: absolute;
    top: 7.5px;
    left: 9px;
    right: 9px;
    padding: 74px;
}

.prefcitycaption{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	min-width: 200px;
}

.prefcitycaption span{
	font-size: 20px;
  	color: #ffffff;
  	text-align: right;
  	z-index: 10;
  	position: absolute;
    right: 20px;
    bottom: 15px;
}

.prefcitycaption-blackmask{
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
}

.preferences-option .panel-default>.panel-heading{
	background-color: #ffffff;
	background-image: none;
}

.preferences-option .panel-group .panel-heading+.panel-collapse>.panel-body{
	border: none;
}

.prefcityhead{
	padding: 0;
	width: 97%;
}

.prefcityactions{
	padding: 0;
	width: 3%;
}

.prefcityactions button{
	cursor: pointer;
	float: right;
	background-color: transparent;
	background-image: none;
    border: none;
    color: #333333;
    box-shadow: none;
}

.edit-prefcity{
	margin-top: 5px;
}

.prefcitypattern{
	height: 100%;
    z-index: 0;
    width: 100%;
}

.preferences-city{

}

.pref-city-select{
	margin-top: 40px;
	/*margin-bottom: 50px;*/
}

.pref-city-pict1 img{
	width: 500px;
	height: 300px;
	object-fit: cover;
	margin: 10px auto;
}

.pref-city-pict1 img:not(.active){
	display: none;
}

.pref-city-pict1 img.active{
	display: block;
}

.pref-city-pict2 img{
	width: 500px;
	height: 300px;
	object-fit: cover;
	margin: 10px auto;
}

.pref-city-pict2 img:not(.active){
	display: none;
}

.pref-city-pict2 img.active{
	display: block;
}

.pref-city-pict3 img{
	width: 500px;
	height: 300px;
	object-fit: cover;
	margin: 10px auto;
}

.pref-city-pict3 img:not(.active){
	display: none;
}

.pref-city-pict3 img.active{
	display: block;
}

.preferences-city img{
	display: none;
}

.selectedpict{
	display: block !important;
}

.nav-tabs > li {
	position:relative;
}
.nav-tabs > li > a {
	display:inline-block;
}
.nav-tabs > li > span {
	display:none;
	cursor:pointer;
	position:absolute;
	right: 6px;
	top: 8px;
	color: red;
}
.nav-tabs > li:hover > span {
	display: inline-block;
}

.prefval, .prefval output {
	color: #333333;
	font-size: 15px;
	font-weight: bold;
	font-style: normal;
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 5px;
}

.prefdataslider{
	margin-bottom: 50px;
}

.pref-location-select{
	margin-top: 30px;
}

.pref-location-select img{
	width: 250px;
	height: 100px;
	margin: 0;
	display: block;
	object-fit: contain;
}

.noback{
	display: none;
}

.row-day-item .panel-heading {
    padding: 0;
    position: relative;
}

.day-item-city-pic {
    margin: 0;
}

.day-item-city-pic img {
    width: 100%;
    height: 164px;
    margin: 0;
}

.city-place-item img {
    height: 100px;
    width: 100px;
}

.refplaceslist{
	padding: 0;
}

.pref-places h1{
	font-size: 18px !important;
}

.refplacesnote p{
	font-size: 12px;
  	color: #141414;
  	font-style: italic;
}

.pref-comment{
	max-width: 353px;
	height: 254px !important;
	border-radius: 4px;
	background-color: #ffffff;
	border: solid 1px #96a0ad;
}

.addplacebuttonrow button{
	display: block;
	margin: 0 auto;
	width: 91px;
	font-size: 12px;
	font-weight: bold;
	border-radius: 8px;
	background-color: #fc9417 !important;
	background-image: none;
	border: none;
}

.prefcityimgbox{
	max-width: 125px;
	width: 100%;
	padding: 0;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	position: relative;
}

.prefcityimgbox .thumbnail .caption{
	padding-top: 0;
}

.del-prefplace{
	position: absolute;
	top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 10;
}

.prefplace-whitebox{
	width: 88px;
	height: 88px;
	border: solid 1px #ffffff;
	position: absolute;
	top: 16.5px;
	left: 19px;
}

.addnewprefcity button{
	border-radius: 8px;
	background-color: #fc9417 !important;
	background-image: none;
	border: none;
	margin-top: 20px;
	margin-bottom: 30px;
}

.addnewprefcity{
	border: solid 1px #fc9417;
	margin-top: 6px;
}

.prefbox{
	background-color: #ffffff;
	margin: 30px auto;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 3%;
}

.prefbox h1{
	font-size: 24px;
  	color: #333333;
  	font-weight: bold;
}

.prefbox.pref-cityplace h1{
	margin-bottom: 30px;
}

.checkbox-prefdata-applyall{
	display: inline-block;
    margin-left: 15px;
    font-size: 14px;
}

.tripbudget table{
	margin-top: 20px;
}

.tripbudget table td:nth-child(3){
	padding-bottom: 20px;
    vertical-align: middle;
    font-size: 18px;
    font-weight: bold;
}

.prefprofile1{

}

.prefprofile1 td{
	padding-right: 30px;
}

.prefprofile2{
	margin-top: 20px;
}

.prefprofile2 p.pp2head{
	font-size: 12px;
	font-weight: bold;
  	color: #333333;
}

.prefprofile2 table{
	margin: 0 auto;
}

.prefprofile2 table tr{

}

.prefprofile2 table tr td{
	text-align: center;
}

.prefprofile2 #slider{
	max-width: 80px;
	width: 100%;
}

.prefprofile2 table p{
	vertical-align: super;
}

.prefprofile2 table #slider, .prefprofile2 table #slider .bar{
	height: 7px;
}

.prefprofile2 table tr:nth-child(1) td:nth-child(1) p{
	color: #fc9417;
}
.prefprofile2 table tr:nth-child(1) td:nth-child(1) #slider .bar{
	background: #fc9417;
}
.prefprofile2 table tr:nth-child(1) td:nth-child(1) input[type="range"]::-webkit-slider-thumb, input[type="range"]::-moz-range-thumb{
	background-color: #fc9417;
}
.prefprofile2 table tr:nth-child(1) td:nth-child(1) input[type="range"]::-moz-range-thumb{
	background-color: #fc9417;
}

.prefprofile2 table tr:nth-child(1) td:nth-child(2) p{
	color: #f5a623;
}
.prefprofile2 table tr:nth-child(1) td:nth-child(2) #slider .bar{
	background: #f5a623;
}
.prefprofile2 table tr:nth-child(1) td:nth-child(2) input[type="range"]::-webkit-slider-thumb{
	background-color: #f5a623 !important;
}
.prefprofile2 table tr:nth-child(1) td:nth-child(2) input[type="range"]::-moz-range-thumb{
	background-color: #f5a623 !important;
}

.prefprofile2 table tr:nth-child(1) td:nth-child(3) p{
	color: #8b572a;
}
.prefprofile2 table tr:nth-child(1) td:nth-child(3) #slider .bar{
	background: #8b572a;
}
.prefprofile2 table tr:nth-child(1) td:nth-child(3) input[type="range"]::-webkit-slider-thumb{
	background-color: #8b572a;
}
.prefprofile2 table tr:nth-child(1) td:nth-child(3) input[type="range"]::-moz-range-thumb{
	background-color: #8b572a;
}

.prefprofile2 table tr:nth-child(1) td:nth-child(4) p{
	color: #417505;
}
.prefprofile2 table tr:nth-child(1) td:nth-child(4) #slider .bar{
	background: #417505;
}
.prefprofile2 table tr:nth-child(1) td:nth-child(4) input[type="range"]::-webkit-slider-thumb{
	background-color: #417505;
}
.prefprofile2 table tr:nth-child(1) td:nth-child(4) input[type="range"]::-moz-range-thumb{
	background-color: #417505;
}

.prefprofile2 table tr:nth-child(2) td:nth-child(1) p{
	color: #4a90e2;
}
.prefprofile2 table tr:nth-child(2) td:nth-child(1) #slider .bar{
	background: #4a90e2;
}
.prefprofile2 table tr:nth-child(2) td:nth-child(1) input[type="range"]::-webkit-slider-thumb{
	background-color: #4a90e2;
}
.prefprofile2 table tr:nth-child(2) td:nth-child(1) input[type="range"]::-moz-range-thumb{
	background-color: #4a90e2;
}

.prefprofile2 table tr:nth-child(2) td:nth-child(2) p{
	color: #bd10e0;
}
.prefprofile2 table tr:nth-child(2) td:nth-child(2) #slider .bar{
	background: #bd10e0;
}
.prefprofile2 table tr:nth-child(2) td:nth-child(2) input[type="range"]::-webkit-slider-thumb{
	background-color: #bd10e0;
}
.prefprofile2 table tr:nth-child(2) td:nth-child(2) input[type="range"]::-moz-range-thumb{
	background-color: #bd10e0;
}

.prefprofile2 table tr:nth-child(2) td:nth-child(3) p{
	color: #4a4a4a;
}
.prefprofile2 table tr:nth-child(2) td:nth-child(3) #slider .bar{
	background: #4a4a4a;
}
.prefprofile2 table tr:nth-child(2) td:nth-child(3) input[type="range"]::-webkit-slider-thumb{
	background-color: #4a4a4a;
}
.prefprofile2 table tr:nth-child(2) td:nth-child(3) input[type="range"]::-moz-range-thumb{
	background-color: #4a4a4a;
}

.prefprofile2 table tr:nth-child(2) td:nth-child(4) p{
	color: #9b9b9b;
}
.prefprofile2 table tr:nth-child(2) td:nth-child(4) #slider .bar{
	background: #9b9b9b;
}
.prefprofile2 table tr:nth-child(2) td:nth-child(4) input[type="range"]::-webkit-slider-thumb{
	background-color: #9b9b9b;
}
.prefprofile2 table tr:nth-child(2) td:nth-child(4) input[type="range"]::-moz-range-thumb{
	background-color: #9b9b9b;
}

.prefprofile2 table tr:nth-child(1) td{
	padding-left: 30px;
}

.prefprofile2 table tr:nth-child(2) td{
	padding-left: 30px;
}

.interestrate{
	text-align: center;
	display: block;
	margin-top: -18px;
}

.prefprofile2 table ul{
	list-style-type: none;
	padding: 0;
}

.prefprofile2 table ul li{
	display: inline-block;
}

.prefprofile2 .prefdataslider{
	margin-bottom: 0;
}

.prefprofile3{
	margin-top: 20px;
}

.startoverbutton.prefdatapage{
	max-width: 132px;
	width: 100%;
	height: 40px;
	border-radius: 8px;
	background-color: #909090;
	color: #ffffff;
	font-size: 14px;
	border: none;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}

.prefcity-move{
	margin-top: 117px;
}

.prefcity-move i{
	cursor: pointer;
	margin: 0 auto;
    display: block;
    text-align: center;
}

.prefhotel, .samehotel{
	clear: both;
}

.pickhotel{
	max-width: 920px;
	width: 100%;
	max-height: 150px;
	min-height: 110px;
}


/* 4.5 PICK ITINERATORS */
/* 4.5.1 PICK ITINERATORS CONTENT */
.pickitinerators-content{

}

.picktype{
	text-align: center;
	margin-top: 20px;
}

.itinerators-box{

}

.itinerators-box table{
	width: 280px;
	margin: 10px auto;
}

.itinerators-box .itineratorsrating{
	list-style-type: none;
}

.itinerators-box .itineratorsrating li{
	display: inline-block;
}

.itinerators-box .itineratorsrating li img{
	width: 20px;
	height: 20px;
}

.itinerators-box table .itinerator-name{
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	background-color: #fc9417;
	text-align: center;
	border: 1px solid #fc9417;
}

.itinerators-box table .itinerator-photo img{
	display: block;
	width: 280px;
	height: 200px;
	object-fit: contain;
}

.itinerators-box table .itinerator-skill td{
	border: 1px solid #000000;
	padding: 5px;
}


/* 4.6 SUMMARY */
/* 4.6.1 SUMMARY CONTENT */
.summaryitinerary-content{
	margin-top: 50px;
}

.summary-days .prefcityactions{
	display: none;
}

.summary-days .del-prefplace{
	display: none;
}

.summary-days .addplacebuttonrow{
	display: none;
}

.summary-days .panel-heading{
	padding: 0;
}

.summary-days .prefcityhead{
	width: 100%;
}

.summary-days .day-item-city-pic{
	padding: 0;
}

.summary-days .thumbnail.city-place-item{
	border: none;
	box-shadow: none;
}

.summary-days .prefplace-whitebox{
	width: 90px;
    height: 90px;
    top: 10px;
    left: 17px;
}

.summary-profile{
	background-color: #ffffff;
	padding: 25px;
}

.summary-profile h1{
	font-size: 20px;
	font-weight: bold;
}

.summary-day .col-md-6{
	padding: 0;
}

.summary-day ul{
	list-style-type: none;
	padding: 0;
}

.summary-day ul li{
	display: inline-block;
	font-size: 18px;
}

.summaryitinerary-content .summary-preferences ul.pref-ulhead1{
	list-style-type: none;
	padding: 0;
}

.summaryitinerary-content .summary-preferences ul.pref-ulhead1 li{
	display: inline-block;
	vertical-align: text-top;
}

.summaryitinerary-content .summary-preferences ul.pref-ulhead1 li ul li{
	display: block;
}

.summaryitinerary-content .summary-preferences .summary-pref-1 ul.ul-cpvar-1{
	float: left !important;
}

.summaryitinerary-content .summary-preferences .summary-pref-2 ul.ul-cpvar-2{
	float: left !important;
}

.summaryitinerary-content .summary-preferences .summary-pref-2 ul.ul-cpvar-2 li span{
	margin-left: 5px;
}

.summaryitinerary-content .summary-preferences .summary-pref-2 .prefratecircle{
	margin: 0 2px;
}

.summary-cityplace{
	margin: 50px auto;
}

.summary-cityplace .summary-cpbox{
	border: solid 1px #000000;
	position: relative;
	padding-top: 75px;
	padding-bottom: 25px;
}

.summary-cityplace .summary-cpbox .summary-cpdate{
	background-color: #ffffff;
	opacity: 0.9;
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
}

.summary-itinerators{
	margin: 50px auto;
}

.summary-itinerators .col-lg-2{
	/*width: 20%;*/
}

/*.summary-itinerators .ibox{*/
.ibox{
	border: solid 1px #000000;
	padding: 0;
	max-width: 200px;
	width: 100%;
	margin: 10px;
}

/*.summary-itinerators .ibox img{*/
.ibox img{
	display: block;
	margin: 0 auto;
	max-width: 200px;
	width: 100%;
	height: auto;
}

.summary-itinerarydesc{
	margin: 50px auto;
}

.summary-profile table tr td{
	/*border: solid 1px;*/
}

.summary-profile table ul{
	padding-left: 0;
	list-style-type: none;
	float: left;
}

.summary-profile table ul li{
	/*display: inline-block;*/
	margin-right: 10px;
}

.summary-profile table ul li span{
	margin-left: 10px;
}

.summary-profile table ul li span i{
	margin: 0 2px;
}

.startoverbutton{
	max-width: 132px;
	width: 100%;
	height: 40px;
	border-radius: 8px;
	background-color: #fc9417;
	color: #ffffff;
	font-size: 14px;
	border: none;
	margin: 20px auto;
    display: block;
}


/* 4.6.2 SUMMARY MODAL FOR LOGIN AND REGISTER */
.modal-loginreg{
	display: none;
}

.modal-regverificationdone{
	display: none;
}

.modal-regverificationdone p{
	text-align: center;
}


/* 4.7 USER LOGIN */
/* 4.7.1 USER LOGIN CONTENT */
.userlogin{
	text-align: center;
	margin: 30px auto;
}

.userlogin h1{
	font-size: 48px;
  	color: #333333;
  	font-weight: bold;
  	margin-bottom: 35px;
}

.userlogin p{
	color: #333333;
}

.loginformbox{
	background-color: #ffffff;
	padding-top: 55px;
	padding-bottom: 60px;
}

.loginformbox input[type="text"], input[type="password"]{
	padding-left: 15px;
	max-width: 440px;
	width: 100%;
	height: 34px;
	border-radius: 4px;
	background-color: #ffffff;
	border: solid 1px #96a0ad;
}

.userlogin-submit{
	max-width: 95px;
	width: 100%;
	height: 40px;
	border-radius: 8px;
	background-color: #fc9417;
	border: none;
	color: #ffffff;
	font-size: 14px;
}

.login-sectionline{
	max-width: 314px;
    width: 100%;
	height: 3px;
	border-top: solid 1px #fc9417;
	display: block;
	margin: 20px auto;
}

.userlogin-other{
	max-width: 314px;
	width: 100%;
	height: 40px;
	border-radius: 8px;
	color: #ffffff;
	font-size: 14px;
	border: none;
}

.userlogin-other.google{
	background-color: #d93a4d;
}

.userlogin-other.facebook{
	background-color: #4a90e2;
	margin-top: 10px;
}

.loginpage-options{
	margin-top: 20px;
	text-align: left;
}

.loginpage-options ul{
	list-style-type: none;
	padding: 0;
}

.loginpage-options ul li{
	margin-right: 20px;
	display: inline-block;
}

.loginpage-options button{
	width: 228px;
	background-color: #909090;
}

.loginpage-options p{
	font-style: italic;
	font-size: 12px;
    color: #4a4a4a;
}

.loginpage-bottomsectionline{
	margin-bottom: 300px;
}


/* 4.8 USER PROFILE */
/* 4.8.1 USER PROFILE CONTENT */
.profile-heading{
	margin-top: 40px;
	text-align: right;
}

.profile-heading p{
	font-weight: bold;
}

.topprofilemenu{
	list-style-type: none;
}

.topprofilemenu li{
	display: inline;
	color: #fc9417;
}

.userprofile{
	margin-top: 30px;
}

.profile-menu{

}

.profile-menu ul{
	list-style-type: none;
}

.profile-menu ul li{
	/*display: inline-block;*/
	margin: 0 auto;
	cursor: pointer;
}

.profile-menu ul li a{
	color: #333333;
}

.profile-menu ul li a:hover{
	color: #fc9417;
	text-decoration: none;
}

.profile-menu p{
	font-size: 18px;
}

.profile-content{
	text-align: justify;
}

.active-profilecontent{
	display: block !important;
}

.myprofile{
	/*display: none;*/
}

.myprofile table{
	margin-bottom: 5px;
}

.myprofile table td{
	padding: 5px;
}

.myprofile .dropdown-menu{
	top: initial !important;
	left: initial !important;
}

.userprofile-itinerarylist{
	/*display: none;*/
}

.userprofile-itinerarylist ul{
	list-style-type: none;
	/*padding-left: 0;*/
}

.itinerarylist-box{

}

table.myprofile-listbox{
	border-collapse: collapse;
	width: 90%;
	margin-bottom: 20px;
}

table.myprofile-listbox button{
	margin: 0 auto;
    display: block;
}

table.myprofile-listbox td{
	padding: 6px;
}

table.myprofile-listbox tr:nth-child(1){
	border-left: 1px solid #b6b4b1;
	border-top: 1px solid #b6b4b1;
}

table.myprofile-listbox tr:nth-child(1) td.buttonreq-part{
	border-right: 1px solid #b6b4b1;
	border-top: 1px solid #b6b4b1;
	border-bottom: 1px solid #b6b4b1;
}

table.myprofile-listbox tr:nth-child(2){
	border-left: 1px solid #b6b4b1;
	border-bottom: 1px solid #b6b4b1;
}

table.myprofile-listbox tr:nth-child(3) td{
	border: 1px solid #b6b4b1;
}

ul.cities{
	list-style-type: none;
	padding: 0;
}

ul.cities li.totalday{
	font-weight: bold;
	font-size: 18px;
	margin-right: 15px;
}

ul.cities li{
	display: inline;
	font-weight: bold;
	font-size: 18px;
}

ul.dates{
	list-style-type: none;
	padding: 0;
}

ul.dates li{
	display: inline;
	margin-right: 3px;
}

div.requestitinerary{
	border: none;
	color: #ffffff;
	border-radius: 5px;
	max-width: 200px;
	position: relative;
	margin-top: -15px;
	cursor: pointer;
}

.requestitinerary .request{
	width: 75%;
	background-color: #37a9a8;
	border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
	text-align: center;
	/*position: absolute;
	left: 0;*/
	float: left;
}

.requestitinerary .request.status-currently{
	background-color: #FAE156;
}

.requestitinerary .request.status-revision{
	background-color: #EE1616;
}

.requestitinerary .request.status-confirmresult{
	background-color: #F98383;
}

.requestitinerary .request.status-done{
	background-color: #0DAC1F;
}

.requestitinerary .request.status-needpayment{
	background-color: #E48CE9;
}

.requestitinerary .request.status-pickitinerator{
	background-color: #5BD7D0;
}

.requestitinerary .request.status-waitingitineratorconfirm{
	background-color: #BA7021;
}

.requestitinerary .request-x{
	width: 25%;
	height: 32px;
	background-color: #4c4949;
	border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
	text-align: center;
	/*position: absolute;
	right: 0;*/
	float: right;
}

.requestitinerary .request-x button{
	border: none;
	background: transparent;
}

.myitinerarymodaltrigger{
	border: none;
	background-color: transparent;
}

.requestmodaltrigger{

}

.onprogresstrigger{

}

.revisiontrigger{

}

.donetrigger{

}

.show-popup{
	display: block !important;
}

.myprofile-showitinerators{
	display: none;
	overflow-y: scroll;
    position: fixed;
    margin: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #ffffff;
    opacity: 0.9;
    /*padding-left: 45%;*/
    padding-top: 15%;
}

.popup-content{
	background-color: #A8A8A8;
	/*margin-left: 30%;
    margin-right: 30%;*/
    padding: 5%;
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 400px;
}

.popup-content button.close-showitinerators{
	position: absolute;
	top: 0;
	right: 0;
}

.myitineraryactionmodal table th,td{
	padding: 5px;
}

.request-ibox{
	/*text-align: center;*/
}

.request-ibox .ibox{
	border: solid 1px #000000;
	padding: 0;
	max-width: 200px;
	width: 100%;
	margin: 10px;
}

.request-ibox img{
	display: block;
	margin: 0 auto;
	max-width: 200px;
	width: 100%;
	height: auto;
}

.request-ibox .col-centered{
	/*display:inline-block;
    float:none;
    text-align:left;
    vertical-align: text-top;*/
}

.cashmethod{
	display: none;
}

.bankmethod{
	display: none;
}


/* 4.9 REGISTRATION */
/* 4.9.1 REGISTRATION CONTENT */
.registration-content{

}

.registrationform{
	display: none;
}

.registrationapproval{
	display: none;
	text-align: center;
	margin-top: 40px;
}

.active-regpage{
	display: block !important;
}

.registration-content .reg-warning{
	display: none;
	font-size: 14px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #f2dede;
	border-radius: 5px;
	border-color: #ebccd1;
	color: #a94442 !important;
}

.show-warning{
	display: block !important;
}

.registration-content h1{
	text-align: center;
	margin-top: 40px;
}

.registration-content table{
	margin: 30px auto 0 auto;
}

.registration-content table tr td{
	padding: 5px;
}


/* 4.10 VALIDATION */
/* 4.10.1 VALIDATION CONTENT */
.validation-content h1{
	text-align: center;
}

.validation-content p{
	text-align: center;
}


/* 5. ETC */
/* 5.1	BACKEND TO ADD ITINERATORS */
/* CRUD */
.photo-thumbnail {
    max-width: 100px;
    max-height: 100px;
}


/* 5.2 BACKEND TO ADD CITIES & PLACES */
.addcityloc table{
	/*margin-top: 15px;*/
}

.addcityloc table th{
	vertical-align: middle !important;
}

.addcityloc .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
	border: 1px solid #333333 !important;
}

.cityorlocshowpicker{
	margin-top: 30px;
	text-align: center;
}

.cityorlocshowpicker label{
	margin-left: 5px;
	font-size: 20px;
	cursor: pointer;
}

#addcitymodal .modal-dialog{
	max-width: 1030px;
    width: 100%;
}

.editcitymodal .modal-dialog{
	max-width: 1030px;
    width: 100%;
}

.deleteloc{
	margin-top: 3px;
}

.place-rates{
	margin-top: 10px;
	margin-bottom: 20px;
}

.place-rates ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.place-rates ul li{
	display: inline-block;
	margin: 0 10px;
}


/* 5.3 CUSTOM CHECKBOX & RADIO BUTTONS */
.checkbox {
	padding-left: 20px;
}
.checkbox label {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	padding-left: 5px;
}
.checkbox label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 17px;
	height: 17px;
	left: 0;
	margin-left: -20px;
	border: 1px solid #cccccc;
	border-radius: 3px;
	background-color: #fff;
	-webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	-o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
	display: inline-block;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0;
	top: 0;
	margin-left: -20px;
	padding-left: 3px;
	padding-top: 1px;
	font-size: 11px;
	color: #555555;
}
.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
	opacity: 0;
	z-index: 1;
}
.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="radio"]:focus + label::before {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
	font-family: "FontAwesome";
	content: "\f00c";
}
.checkbox input[type="checkbox"]:indeterminate + label::after,
.checkbox input[type="radio"]:indeterminate + label::after {
	display: block;
	content: "";
	width: 10px;
	height: 3px;
	background-color: #555555;
	border-radius: 2px;
	margin-left: -16.5px;
	margin-top: 7px;
}
.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label {
	opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before,
.checkbox input[type="radio"]:disabled + label::before {
	background-color: #eeeeee;
	cursor: not-allowed;
}
.checkbox.checkbox-circle label::before {
	border-radius: 50%;
}
.checkbox.checkbox-inline {
	margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
	background-color: #3aafda;
	border-color: #3aafda;
}
.checkbox-primary input[type="checkbox"]:checked + label::after,
.checkbox-primary input[type="radio"]:checked + label::after {
	color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before,
.checkbox-danger input[type="radio"]:checked + label::before {
	background-color: #d9534f;
	border-color: #d9534f;
}
.checkbox-danger input[type="checkbox"]:checked + label::after,
.checkbox-danger input[type="radio"]:checked + label::after {
	color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before,
.checkbox-info input[type="radio"]:checked + label::before {
	background-color: #5bc0de;
	border-color: #5bc0de;
}
.checkbox-info input[type="checkbox"]:checked + label::after,
.checkbox-info input[type="radio"]:checked + label::after {
	color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before,
.checkbox-warning input[type="radio"]:checked + label::before {
	background-color: #f0ad4e;
	border-color: #f0ad4e;
}
.checkbox-warning input[type="checkbox"]:checked + label::after,
.checkbox-warning input[type="radio"]:checked + label::after {
	color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before,
.checkbox-success input[type="radio"]:checked + label::before {
	background-color: #5cb85c;
	border-color: #5cb85c;
}
.checkbox-success input[type="checkbox"]:checked + label::after,
.checkbox-success input[type="radio"]:checked + label::after {
	color: #fff;
}

.checkbox-primary input[type="checkbox"]:indeterminate + label::before,
.checkbox-primary input[type="radio"]:indeterminate + label::before {
	background-color: #337ab7;
	border-color: #337ab7;
}

.checkbox-primary input[type="checkbox"]:indeterminate + label::after,
.checkbox-primary input[type="radio"]:indeterminate + label::after {
	background-color: #fff;
}

.checkbox-danger input[type="checkbox"]:indeterminate + label::before,
.checkbox-danger input[type="radio"]:indeterminate + label::before {
	background-color: #d9534f;
	border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:indeterminate + label::after,
.checkbox-danger input[type="radio"]:indeterminate + label::after {
	background-color: #fff;
}

.checkbox-info input[type="checkbox"]:indeterminate + label::before,
.checkbox-info input[type="radio"]:indeterminate + label::before {
	background-color: #5bc0de;
	border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:indeterminate + label::after,
.checkbox-info input[type="radio"]:indeterminate + label::after {
	background-color: #fff;
}

.checkbox-warning input[type="checkbox"]:indeterminate + label::before,
.checkbox-warning input[type="radio"]:indeterminate + label::before {
	background-color: #f0ad4e;
	border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:indeterminate + label::after,
.checkbox-warning input[type="radio"]:indeterminate + label::after {
	background-color: #fff;
}

.checkbox-success input[type="checkbox"]:indeterminate + label::before,
.checkbox-success input[type="radio"]:indeterminate + label::before {
	background-color: #5cb85c;
	border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:indeterminate + label::after,
.checkbox-success input[type="radio"]:indeterminate + label::after {
	background-color: #fff;
}

.radio {
	padding-left: 20px;
}
.radio label {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	padding-left: 5px;
}
.radio label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 17px;
	height: 17px;
	left: 0;
	margin-left: -20px;
	border: 1px solid #cccccc;
	border-radius: 50%;
	background-color: #fff;
	-webkit-transition: border 0.15s ease-in-out;
	-o-transition: border 0.15s ease-in-out;
	transition: border 0.15s ease-in-out;
}
.radio label::after {
	display: inline-block;
	position: absolute;
	content: " ";
	width: 11px;
	height: 11px;
	left: 3px;
	top: 3px;
	margin-left: -20px;
	border-radius: 50%;
	background-color: #555555;
	-webkit-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	-o-transform: scale(0, 0);
	transform: scale(0, 0);
	-webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	-moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	-o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
	opacity: 0;
	z-index: 1;
}
.radio input[type="radio"]:focus + label::before {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
.radio input[type="radio"]:checked + label::after {
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transform: scale(1, 1);
}
.radio input[type="radio"]:disabled + label {
	opacity: 0.65;
}
.radio input[type="radio"]:disabled + label::before {
	cursor: not-allowed;
}
.radio.radio-inline {
	margin-top: 0;
}

.radio-primary input[type="radio"] + label::after {
	background-color: #337ab7;
}
.radio-primary input[type="radio"]:checked + label::before {
	border-color: #337ab7;
}
.radio-primary input[type="radio"]:checked + label::after {
	background-color: #337ab7;
}

.radio-danger input[type="radio"] + label::after {
	background-color: #d9534f;
}
.radio-danger input[type="radio"]:checked + label::before {
	border-color: #d9534f;
}
.radio-danger input[type="radio"]:checked + label::after {
	background-color: #d9534f;
}

.radio-info input[type="radio"] + label::after {
	background-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::before {
	border-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::after {
	background-color: #5bc0de;
}

.radio-warning input[type="radio"] + label::after {
	background-color: #f0ad4e;
}
.radio-warning input[type="radio"]:checked + label::before {
	border-color: #f0ad4e;
}
.radio-warning input[type="radio"]:checked + label::after {
	background-color: #f0ad4e;
}

.radio-success input[type="radio"] + label::after {
	background-color: #5cb85c;
}
.radio-success input[type="radio"]:checked + label::before {
	border-color: #5cb85c;
}
.radio-success input[type="radio"]:checked + label::after {
	background-color: #5cb85c;
}

input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
	font-family: 'FontAwesome';
	content: "\f00c";
}
input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::before {
	color: #fff;
}
input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after {
	color: #fff;
}


/* 6. FOOTER */
footer{
	text-align: center;
	background: #232323;
	/*margin-top: 48px;*/
}

footer ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

footer ul li{
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
}

.footer-link a{
	text-decoration: none;
	font-size: 12px;
	color: #fc9417;
}

.copyright{
	font-size: 12px;
	color: #ffffff;
	margin-top: 10px;
	margin-bottom: 20px;
}

.footerline{
	width: 100%;
	height: 3px;
	border-top: solid 1px #fc9417;
	margin-bottom: 21px;
}


/* 7. ADMIN */
/* 7.1. ADMIN HOME */
.adminhome{

}

.uploaddatanav{
	margin-top: 30px;
}

.uploaddatanav ul{
	list-style-type: none;
	padding: 0;
	margin: 0 auto;
	text-align: center;
}

.uploaddatanav ul li{
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
}

.uploaddatanav button{
	max-width: 314px;
	width: 100%;
	height: 40px;
	border-radius: 8px;
	color: #ffffff;
	font-size: 14px;
	border: none;
	background-color: #d93a4d;
}


/* 8. ITINERATORS PAGE */
table.itineratorsjoblist{
	/*border: solid 1px;*/
	margin: 15px 0;
}

table.itineratorsjoblist td{
	padding: 15px;
	vertical-align: baseline;
	/*border: solid 1px;*/
}

table.itineratorsjoblist p{
	margin: 0;
}

table.itineratorsjoblist a{
	font-size: 14px;
}

.itineratorshome .navbar{
	width: 100%;
     height: auto;
     background-color: #fc9417;
     padding: 13px;
     border-radius: 0;
     margin-bottom: 50px;
}

.itineratorshome .navbar ul{
	list-style-type: none;
}

.itineratorshome .navbar ul li{
	display: inline-block;
}


/* 8.1 ITINERATORS HOME */
.itinerators-list{

}


/* 8.2 MY JOB */
.myjob-tab{
	margin-bottom: 40px;
}

.myjob-tab h1{
	border-bottom: solid 1px;
}


/*CUSTOM*/

li.navlogo a {
	display: block;
	margin-top: -15px;
}

.btn-orange {
	letter-spacing: 1px;
    width: 270px;
    height: 48px;
    border-radius: 25px;
    background-color: #fc9417;
    border: none;
    margin-top: 30px;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
}

h1.home-title {
	font-size: 48px;
    color: #f8951d;
    font-weight: 700;
    text-align: center;
}

p.home-subtitle {
	color: #ffffff;
	margin-bottom: 20px;
	text-align: center;
}

.section-title {
	    letter-spacing: 2px;
    text-align: center;
    font-size: 33px;
    color: #333333;
    margin-top: 70px;
    margin-bottom: 20px;
}
