@media screen and (min-width: 300px) and (max-width: 919px){
	.why-itineration-pc{
		display: none;
	}

	.why-itineration-sp{
		display: block;
		text-align: center;
	}

	.why-itineration-sp h1{
		font-size: 36px;
		color: #bd9657;
		font-weight: bold;
		text-align: center;
		margin-top: 39px;
	}

	.why-itineration-sp img{
		width: auto;
		height: 100px;
		display: block;
		margin: 0 auto;
	}

	.why-itineration-sp p{
		font-size: 18px;
		color: #333333;
		font-weight: bold;
		text-align: center;
		margin: 20px auto;
	}

	.triangle-sp{
		display: inline-block;
		margin: 0 auto;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		border-left: 20px solid #93442f;
		border-top: 20px solid #93442f;
		border-bottom: 20px solid transparent;
		border-right: 20px solid transparent;
	}

	.why-itineration-desc-sp{
		width: 100%;
		height: auto;
		background-color: #93442f;
		margin-top: -30px;
		padding: 0;
	}

	.why-itineration-desc-sp .col-md-8, .col-md-2, .col-md-12{
		padding: 0;
	}

	.why-itineration-desc-sp p{
		font-size: 28px;
		color: #ffffff;
		font-weight: bold;
		text-align: center;
		margin-top: 115px;
		margin-bottom: 115px;
	}

	.why-itineration-sp-content{
		margin-top: 50px;
	}
}