/**
* ============================================================================
* TABLE OF CONTENTS
*
* 1. OVERALL
* 2. HEADER
* 3. NAVIGATIONS
* 4. CONTENT
* 	4.1 HOMEPAGE
* 		4.1.1 WHY ITINERATION
* 		4.1.2 EASY STEPS
* 		4.1.3 HOME BOTTOM START
* 	4.2 INPUT NAVIGATION
* 	4.3 INPUT STYLE
* 		4.3.1 INPUT STYLE HEADING
* 		4.3.2 INPUT STYLE CONTENT
* 	4.4 PREFERENCES DATA
* 		4.4.1 PREFERENCES DATA CONTENT
* 	4.5 PICK ITINERATORS
* 		4.5.1 PICK ITINERATORS CONTENT
* 	4.6 SUMMARY
* 		4.6.1 SUMMARY CONTENT
* 		4.6.2 SUMMARY MODAL FOR LOGIN AND REGISTER
* 	4.7 USER LOGIN
* 		4.7.1 USER LOGIN CONTENT
* 	4.8	USER PROFILE
* 		4.8.1 USER PROFILE CONTENT
* 	4.9 REGISTRATION
* 		4.9.1 REGISTRATION CONTENT
* 	4.10 VALIDATION
* 		4.10.1 VALIDATION CONTENT
* 5. ETC
* 	5.1	BACKEND TO ADD ITINERATORS
* 	5.2 BACKEND TO ADD CITIES & PLACES
* 6. FOOTER
* ============================================================================
*/

/* 1. OVERALL */
html, body{
	font-family: Helvetica;
	font-weight: normal;
	background-color: #f5efe6;
	margin: 0;
	padding: 0;
}

.container-fluid{
	margin: 0;
	padding: 0;
}

.row{
	margin: 0;
}


/* 2. HEADER */
header{
	background-image: url("../images/BackgroundTop.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: auto;
}

.header-content{

}

.site-logo{

}

.site-logo img{
	max-width: 100%;
	width: auto;
	height: 100px;
	object-fit: contain;
	display: block;
	margin: 30px auto;
}

.schedule-home{

}

.schedule-home span#basic-addon1{
	/*opacity: 0.6;*/
}

.schedule-home-content{
	margin-left: 50px;
	margin-right: 50px;
}

.schedule-home-content-bg{
	background-image: url("../images/background-pass.png");
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 530px;
	/*height: auto;*/
}

/*.
schedule-home-content .schedule-home-left{
	background-image: url('../images/background-pass-left.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: auto;
	height: 530px;
}

.schedule-home-content .schedule-home-right{
	background-image: url('../images/background-pass-right.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: auto;
	height: 530px;
}
*/

.schedule-home-content img{
	width: 100%;
	height: auto;
	object-fit: contain;
	display: block;
	margin: 0 auto;
	z-index: 0;
	position: absolute;
}

.schedule-home-content h1{
	font-size: 25px;
	color: #333333;
	font-weight: bold;
	text-align: center;
	margin-top: 27px;
}

.schedule-home-content h2{
	font-size: 14px;
	color: #333333;
	font-weight: bold;
	margin-top: 10px;
}

.schedule-home-content .dummyline1{
	width: 52px;
	height: 3px;
	border-bottom: solid 1px #646464;
	text-align: center;
	margin: 0 auto;
}

.schedule-home-arrival{
	margin-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.schedule-home-return{
	margin-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.input-group{
	margin-top: 15px;
}

.input-group-addon{
	/*width: 71.3px;*/
	height: 33px;
	border-radius: 3px;
	background-color: rgba(242, 242, 242, 0.5);
	border: solid 1px #cccccc;
}

.home-airport{
	width: 215.1px;
	height: 33px;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.1);
	border: solid 1px #cccccc;
}

.group-home-date{
	float: left;
	width: 155px;
}

.group-home-date .home-date{
	width: 100px;
	height: 33px;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.1);
	border: solid 1px #cccccc;
}

.group-home-date .home-date1{
	width: 100px;
	height: 33px;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.1);
	border: solid 1px #cccccc;
}

.group-home-time{
	float:right;
	width: 100px;
}

.group-home-time .home-time{
	width: 122px;
	height: 33px;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.1);
	border: solid 1px #cccccc;
}

.home-day p{
	font-size: 18px;
	color: #333333;
	text-align: center;
	font-style: italic;
	margin-top: 20px;
}

.range-slider{
	margin-top: 30px;
}

#slider {
	width: auto;
	/*width: 370px;*/
	height: 5px;
	position: relative;
	background: #ed3939;

	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	margin-left: auto;
	margin-right: auto;
}

#slider .bar {
	/*width: 388px;*/
	height: 0;
	position: relative;	
	background: #ed3939;
	outline: none;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}

#slider .highlight {
	/*height: 2px;
	position: absolute;
	width: 388px;
	top: 6px;
	left: 6px;
		
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	
	background: rgba(255, 255, 255, 0.25);*/
}

input[type="range"] {
	-webkit-appearance: none;
	background-color: transparent;
	height: 2px;
}

input[type="range"]:focus{
	outline: none;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	position: relative;
	background-color: #ed3939;
	top: 0px;
	z-index: 1;
	width: 22px;
	height: 22px;
	cursor: pointer;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	border:none;
}

input[type=range]::-moz-range-track {
	background-color: transparent;
	height: 5px;
}

input[type="range"]::-moz-range-thumb {
	-webkit-appearance: none;
	position: relative;
	background-color: #ed3939;
	top: 0px;
	z-index: 1;
	width: 22px;
	height: 22px;
	cursor: pointer;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	border:none;
}

/*
input[type="range"]:hover ~ #rangevalue,input[type="range"]:active ~ #rangevalue {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	top: -75px;
}
*/

#rangevalue {
	color: #333333;
	font-size: 48px;
	font-weight: bold;
	font-style: normal;
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
}

.home-packages-continue{
	text-align: center;
	margin-top: 100px;
	margin-bottom: 20px;
}

.home-packages-continue button{
	width: 147px;
	height: 45px;
	border-radius: 40px;
	background-color: #ed3939;
	display: block;
	margin: 0 auto;
	border: none;
	color: #ffffff;
	font-size: 18px;
}

.home-packages-continue a{
	text-decoration: none;
	font-size: 18px;
	color: #ffffff;
}

.home-registration{
	text-align: center;
	margin-top: 14px;
}

.home-registration p{
	font-size: 14px;
	font-weight: normal;
	color: #333333;
	margin-top: 15px;
}

.home-registration button{
	width: 121px;
	height: 45px;
	border-radius: 40px;
	background-color: #bd9657;
	border: none;
	display: block;
	margin: 20px auto;
}

.home-registration .signin-home{
	text-decoration: none;
	font-size: 18px;
	color: #ffffff;
}

.home-registration a{
	font-size: 12px;
	color: #333333;
	text-decoration: underline;
}


/* 3. NAVIGATIONS */
.navbar{
	background-color: #000000;
	opacity: 0.7;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}

.navbar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.navbar ul li{
	display: inline-block;
	margin: 20px 50px;
}

.navbar ul li a{
	color: #ffffff;
	font-size: 20px;
	text-decoration: none;
}


/* 4. CONTENT */
/* 4.1 HOMEPAGE */
/* 4.1.1 WHY ITINERATION */
.why-itineration-sp{
	display: none;
}

.why-itineration-pc h1{
	font-size: 36px;
	color: #bd9657;
	font-weight: bold;
	text-align: center;
	margin-top: 39px;
}

.why-itineration-pc ul{
	list-style-type: none;
	margin: 0;
	margin-top: 50px;
	padding: 0;
	text-align: center;
}

.why-itineration-pc ul li{
	display: inline-block;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 30px;
	width: 160px;
	vertical-align: text-top;
	cursor: pointer;
}

.why-icon img{
	width: auto;
	height: 100px;
	display: block;
	margin: 0 auto;
}

.why-icon p{
	font-size: 18px;
	color: #333333;
	font-weight: bold;
	text-align: center;
	margin: 20px auto;
}

.why-triangle{
	margin-top: 0 !important;
}

.triangle{
	display: inline-block;
	margin: 0 auto;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	border-left: 20px solid #93442f;
	border-top: 20px solid #93442f;
	border-bottom: 20px solid transparent;
	border-right: 20px solid transparent;
}

.triangle:not(.active){
	display: none;
}

.why-itineration-desc{
	width: 100%;
	height: auto;
	background-color: #93442f;
	margin-top: -30px;
	padding: 0;
}

.why-itineration-desc .col-md-8, .col-md-2, .col-md-12{
	padding: 0;
}

.why-itineration-desc p{
	font-size: 36px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	margin-top: 115px;
	margin-bottom: 115px;
}

.why-desc{
	display: block;
}

.why-desc:not(.active){
	display: none;
}


/* 4.1.2 EASY STEPS */
.easy-steps h1{
	font-size: 36px;
	color: #bd9657;
	font-weight: bold;
	margin-top: 50px;
	text-align: center;
}

.easy-steps h2{
	text-align: center;
	font-weight: bold;
}

.easy-steps h3{
	text-align: center;
	font-weight: bold;
}

.easy-steps p{
	text-align: center;
	font-weight: bold;
}

.easy-steps img{
	display: block;
	margin: 10px auto;
	max-width: 500px;
	width: 100%;
	height: auto;
	text-align: center;
}

.step1{
	margin-top: 100px;
}

.step1 h2{
	font-size: 80px;
	color: #3e7958;
}

.step1 h3{
	font-size: 35px;
	color: #3e7958;
}

.step1 p{
	font-size: 22px;
	color: #3e7958;
}

.step2 h2{
	font-size: 80px;
	color: #9c3411;
}

.step2 h3{
	font-size: 35px;
	color: #9c3411;
}

.step2 p{
	font-size: 22px;
	color: #9c3411;
}

.step3 h2{
	font-size: 80px;
	color: #202471;
}

.step3 h3{
	font-size: 35px;
	color: #202471;
}

.step3 p{
	font-size: 22px;
	color: #202471;
}


/* 4.1.3 HOME BOTTOM START */
.home-bottom-start{
	text-align: center;
	background-image: url("../images/BackBottom.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 500px;
	margin-top: 180px;
}

.home-bottom-start-content{
	padding-top: 160px;
	padding-bottom: 160px;
}

.home-bottom-start h1{
	font-size: 48px;
	font-weight: bold;
	color: #333333;
	text-shadow: 0 2px 4px rgba(255, 250, 250, 0.5);
}

.home-bottom-start button{
	width: 270px;
	height: 45px;
	border-radius: 40px;
	background-color: #ed3939;
	border: none;
	margin-top: 30px;
}

.home-bottom-start a{
	text-decoration: none;
	font-size: 18px;
	color: #ffffff;
}


/* 4.2 INPUT NAVIGATION */
.input-navigation{
	text-align: center;
	margin-top: 30px;
}

.input-navigation ul{
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
}

.input-navigation ul li{
	display: inline-block;
}

.inputcircle{
	width: 52px;
	height: 52px;
	border: solid 4px #ed3939;
	border-radius: 50%;
	margin: 0 auto;
	display: block;
	text-align: center;
}

.inputcircle-active{
	width: 52px;
	height: 52px;
	background-color: #ed3939 !important;
	border: solid 4px #ed3939 !important;
	border-radius: 50%;
	margin: 0 auto;
	display: block;
	text-align: center;
}

.inputcircle-text{
	text-align: center;
	font-size: 18px;
	color: #333333;
	margin: 10px 23px;
}

.inputcircle-text .active{
	font-weight: bold !important;
}

.inputnav-line{
	width: 125px;
	height: 3px;
	border-bottom: solid 3px #ed3939;
	margin-bottom: 23px;
	margin-left: -5px;
	margin-right: -5px;
}


/* 4.3 INPUT STYLE */
/* 4.3.1 INPUT STYLE HEADING */
.input-style-heading{
	
}

.input-style-heading h1{
	text-align: center;
	font-size: 36px;
	color: #333333;
	font-weight: bold;
	margin-top: 70px;
}

.input-style-heading-table{
	margin: 0 auto;
}

.input-style-heading-table-left{
	text-align: right;
}

.input-style-heading-table-middle{
	text-align: center;
}

.input-style-heading-table-middle img{
	display: block;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.input-style-heading-table-right{
	text-align: left;
}


/* 4.3.2 INPUT STYLE CONTENT */
.inputstyle-sectionline{
	max-width: 943px;
	width: 100%;
	height: 3px;
	border-bottom: solid 1px #979797;
	text-align: center;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.notification-limitpick{
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0;
}

.notification-limitpick{
	visibility: hidden;
}

.notification-limitpick.show-note{
	visibility: visible;
}

.notification-limitpick p{
	color: #ed3939;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}

.input-style-content{
	margin-top: -30px;
}

.input-style-calendar{
	padding-left: 10%;
	padding-right: 10%;
}

.input-style-calendar .calendar{
	
}

.input-style-calendar .calendar-table{
	border: none;
	margin-top: 30px;
}

.calendar-table th{
	text-align: left;
	font-size: 18px;
	color: #333333;
	border: none;
}

.calendar-table td{
	border: none;
}

.calendar-table .calendar-table-dayname{
	text-align: center;
	font-size: 18px;
	color: #333333;
	font-weight: bold;
	border: none;
}

.calendar-table .daynum-outdated{
	text-align: center;
	font-size: 18px;
	color: #9c9c9c;
	border: none;
}

.calendar-table .daynum{
	text-align: center;
	font-size: 18px;
	color: #333333;
	border: none;
}

.input-style-button{
	
}

.input-style-button h1{
	font-size: 72px;
	color: #ed3939;
	font-style: italic;
}

.input-style-button p{
	font-size: 14px;
	color: #333333;
	margin-top: 30px;
}

.input-style-checkmark{
	float: right;
	margin-top: 10px;
}

.input-style-checkmark:not(.active){
	display: none;
}

.input-style-checkmark .active{
	display: block;
}

.input-style-button-simple{
	width: 386px;
	height: auto;
	border-radius: 8px;
	border: solid 1px #535353;
	margin-top: 50px;
	padding-left: 18px;
	padding-right: 18px;
	padding-bottom: 18px;
}

.input-style-button-simple label{
	cursor: pointer;
}

.input-style-button-simple.active{
	border: solid 4px #ed3939 !important;
}

.input-style-button-detail{
	width: 386px;
	height: auto;
	border-radius: 8px;
	border: solid 1px #535353;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-left: 18px;
	padding-right: 18px;
	padding-bottom: 18px;
}

.input-style-button-detail label{
	cursor: pointer;
}

.input-style-button-detail.active{
	border: solid 4px #ed3939 !important;
}

.input-style-backnextbutton{
	text-align: right;
	width: 417px;
	height: auto;
}

.input-style-backnextbutton.inputstylebottomnav{
	text-align: center;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.input-style-backnextbutton ul{
	list-style-type: none;
	margin-top: 30px;
	margin-bottom: 20px;
	padding: 0;
}

.input-style-backnextbutton ul li{
	display: inline-block;
}

.input-style-backbutton{
	width: 95px;
	height: 40px;
	border-radius: 8px;
	background-color: #909090;
	border: none;
	font-size: 14px;
	color: #ffffff;
	margin-right: 10px;
}

.input-style-nextbutton{
	width: 95px;
	height: 40px;
	border-radius: 8px;
	background-color: #ed3939;
	border: none;
	font-size: 14px;
	color: #ffffff;
	margin-left: 10px;
}

.inputstyletype{
	display: none;
}

.inputstylecalendar{
	display: none;
}

label.spandaynum {
	background-color:transparent;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	text-decoration:none;
	text-align:center;
	/*width:auto;*/
	/*height: auto;*/
	/*padding: 20px 0;*/
	cursor:pointer;
	display:block;
	margin: 0 auto;
	-webkit-transition:background-color 150ms ease-in;
	-moz-transition:background-color 150ms ease-in;
	-ms-transition:background-color 150ms ease-in;
	-o-transition:background-color 150ms ease-in;
	transition:background-color 150ms ease-in;
}

input[type=checkbox]:checked + label.spandaynum {
	background-color:#ed3939;
	color: #ffffff;
	text-decoration:none;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
}

.selected{
	/*background-color:#ed3939 !important;*/
	background-image: url("../images/circledate.png") !important;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	color: #ffffff !important;
	text-decoration:none;
	/*-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;*/
}


/* 4.4 PREFERENCES DATA */
/* 4.4.1 PREFERENCES DATA CONTENT */
.preferencesdata-content{
	margin-top: 50px;
	margin-bottom: 50px;
}

.preferences-interest{
	margin-bottom: 50px;
}

.preferences-datelist{
	border-right: 2px solid #ed3939;
	height: 500px;
}

.preferences-datelist ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.preferences-datelist ul li{
	margin: 20px auto;
	font-size: 18px;
	text-align: center;
}

.preferences-datelist ul li.active a{
	color: #ed3939;
	text-decoration: none;
}

.preferences-option{
	padding-left: 40px;
	padding-right: 40px;
}

.preferences-option img{
	width: 500px;
	height: 300px;
	object-fit: cover;
	margin: 10px auto;
}

.preferences-city{

}

.pref-city-select{
	margin-top: 40px;
	/*margin-bottom: 50px;*/
}

.pref-city-pict1 img{
	width: 500px;
	height: 300px;
	object-fit: cover;
	margin: 10px auto;
}

.pref-city-pict1 img:not(.active){
	display: none;
}

.pref-city-pict1 img.active{
	display: block;
}

.pref-city-pict2 img{
	width: 500px;
	height: 300px;
	object-fit: cover;
	margin: 10px auto;
}

.pref-city-pict2 img:not(.active){
	display: none;
}

.pref-city-pict2 img.active{
	display: block;
}

.pref-city-pict3 img{
	width: 500px;
	height: 300px;
	object-fit: cover;
	margin: 10px auto;
}

.pref-city-pict3 img:not(.active){
	display: none;
}

.pref-city-pict3 img.active{
	display: block;
}

.preferences-city img{
	display: none;
}

.selectedpict{
	display: block !important;
}

.nav-tabs > li {
	position:relative;
}
.nav-tabs > li > a {
	display:inline-block;
}
.nav-tabs > li > span {
	display:none;
	cursor:pointer;
	position:absolute;
	right: 6px;
	top: 8px;
	color: red;
}
.nav-tabs > li:hover > span {
	display: inline-block;
}

.prefval, .prefval output {
	color: #333333;
	font-size: 15px;
	font-weight: bold;
	font-style: normal;
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 5px;
}

.prefdataslider{
	margin-bottom: 50px;
}

.pref-location-select{
	margin-top: 30px;
}

.pref-location-select img{
	width: 250px;
	height: 100px;
	margin: 0;
	display: block;
	object-fit: contain;
}

.noback{
	display: none;
}

.row-day-item .panel-heading {
    padding: 0;
}

.day-item-city-pic {
    margin: 0;
}

.day-item-city-pic img {
    width: 100%;
    height: 100px;
    margin: 0;
}

.city-place-item img {
    height: 100px;
}

/* 4.5 PICK ITINERATORS */
/* 4.5.1 PICK ITINERATORS CONTENT */
.pickitinerators-content{

}

.picktype{
	text-align: center;
	margin-top: 20px;
}

.itinerators-box{

}

.itinerators-box table{
	width: 280px;
	margin: 10px auto;
}

.itinerators-box .itineratorsrating{
	list-style-type: none;
}

.itinerators-box .itineratorsrating li{
	display: inline-block;
}

.itinerators-box .itineratorsrating li img{
	width: 20px;
	height: 20px;
}

.itinerators-box table .itinerator-name{
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	background-color: #ed3939;
	text-align: center;
	border: 1px solid #ED3939;
}

.itinerators-box table .itinerator-photo img{
	display: block;
	width: 280px;
	height: 200px;
	object-fit: contain;
}

.itinerators-box table .itinerator-skill td{
	border: 1px solid #000000;
	padding: 5px;
}


/* 4.6 SUMMARY */
/* 4.6.1 SUMMARY CONTENT */


/* 4.6.2 SUMMARY MODAL FOR LOGIN AND REGISTER */
.modal-loginreg{
	display: none;
}

.modal-regverificationdone{
	display: none;
}

.modal-regverificationdone p{
	text-align: center;
}


/* 4.7 USER LOGIN */
/* 4.7.1 USER LOGIN CONTENT */
.userlogin{
	text-align: center;
	margin: 30px auto;
}

.userlogin p{

}


/* 4.8 USER PROFILE */
/* 4.8.1 USER PROFILE CONTENT */
.profile-heading{
	margin-top: 40px;
	text-align: right;
}

.profile-heading p{
	font-weight: bold;
}

.topprofilemenu{
	list-style-type: none;
}

.topprofilemenu li{
	display: inline;
	color: #ed3939;
}

.userprofile{
	margin-top: 30px;
}

.profile-menu{

}

.profile-menu ul{
	list-style-type: none;
}

.profile-menu ul li{
	/*display: inline-block;*/
	margin: 0 auto;
	cursor: pointer;
}

.profile-menu ul li a{
	color: #333333;
}

.profile-menu ul li a:hover{
	color: #ed3939;
	text-decoration: none;
}

.profile-menu p{
	font-size: 18px;
}

.profile-content{
	text-align: justify;
}

.active-profilecontent{
	display: block !important;
}

.myprofile{
	/*display: none;*/
}

.myprofile table{
	margin-bottom: 5px;
}

.myprofile table td{
	padding: 5px;
}

.myprofile .dropdown-menu{
	top: initial !important;
	left: initial !important;
}

.userprofile-itinerarylist{
	/*display: none;*/
}

.userprofile-itinerarylist ul{
	list-style-type: none;
	padding-left: 0;
}

.itinerarylist-box{
	
}

table.myprofile-listbox{
	border-collapse: collapse;
	width: 70%;
	margin-bottom: 20px;
}

table.myprofile-listbox button{
	margin: 0 auto;
    display: block;
}

table.myprofile-listbox td{
	padding: 6px;
}

table.myprofile-listbox tr:nth-child(1){
	border-left: 1px solid #b6b4b1;
	border-top: 1px solid #b6b4b1;
}

table.myprofile-listbox tr:nth-child(1) td.buttonreq-part{
	border-right: 1px solid #b6b4b1;
	border-top: 1px solid #b6b4b1;
	border-bottom: 1px solid #b6b4b1;
}

table.myprofile-listbox tr:nth-child(2){
	border-left: 1px solid #b6b4b1;
	border-bottom: 1px solid #b6b4b1;
}

table.myprofile-listbox tr:nth-child(3) td{
	border: 1px solid #b6b4b1;
}

ul.cities{
	list-style-type: none;
	padding: 0;
}

ul.cities li.totalday{
	font-weight: bold;
	font-size: 18px;
	margin-right: 15px;
}

ul.cities li{
	display: inline;
	font-weight: bold;
	font-size: 18px;
}

ul.dates{
	list-style-type: none;
	padding: 0;
}

ul.dates li{
	display: inline;
	margin-right: 3px;
}

div.requestitinerary{
	border: none;
	color: #ffffff;
	border-radius: 5px;
	max-width: 200px;
	position: relative;
	margin-top: -15px;
	cursor: pointer;
}

.requestitinerary .request{
	width: 75%;
	background-color: #37a9a8;
	border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
	text-align: center;
	position: absolute;
	left: 0;
}

.requestitinerary .request-x{
	width: 25%;
	height: 32px;
	background-color: #4c4949;
	border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
	text-align: center;
	position: absolute;
	right: 0;
}

.requestmodaltrigger{
	border: none;
	background-color: transparent;
}

.show-popup{
	display: block !important;
}

.myprofile-showitinerators{
	display: none;
	overflow-y: scroll;
    position: fixed;
    margin: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #ffffff;
    opacity: 0.9;
    /*padding-left: 45%;*/
    padding-top: 15%;
}

.popup-content{
	background-color: #A8A8A8;
	/*margin-left: 30%;
    margin-right: 30%;*/
    padding: 5%;
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 400px;
}

.popup-content button.close-showitinerators{
	position: absolute;
	top: 0;
	right: 0;
}

.requestmodal table th,td{
	padding: 5px;
}


/* 4.9 REGISTRATION */
/* 4.9.1 REGISTRATION CONTENT */
.registration-content{
	
}

.registrationform{
	display: none;
}

.registrationapproval{
	display: none;
	text-align: center;
	margin-top: 40px;
}

.active-regpage{
	display: block !important;
}

.registration-content .reg-warning{
	display: none;
	font-size: 14px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #f2dede;
	border-radius: 5px;
	border-color: #ebccd1;
	color: #a94442 !important;
}

.show-warning{
	display: block !important;
}

.registration-content h1{
	text-align: center;
	margin-top: 40px;
}

.registration-content table{
	margin: 30px auto 0 auto;
}

.registration-content table tr td{
	padding: 5px;
}

.invalid-reg{
	border: 1px solid #ed3939 !important;
}


/* 4.10 VALIDATION */
/* 4.10.1 VALIDATION CONTENT */
.validation-content h1{
	text-align: center;
}

.validation-content p{
	text-align: center;
}


/* 5. ETC */
/* 5.1	BACKEND TO ADD ITINERATORS */
/* CRUD */
.photo-thumbnail {
    max-width: 100px;
    max-height: 100px;
}


/* 5.2 BACKEND TO ADD CITIES & PLACES */
.addcityloc table{
	margin-top: 15px;
}

.addcityloc table th{
	vertical-align: middle !important;
}

.addcityloc .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
	border: 1px solid #333333 !important;
}

.cityorlocshowpicker{
	margin-top: 30px;
	text-align: center;
}

.cityorlocshowpicker label{
	margin-left: 5px;
	font-size: 20px;
	cursor: pointer;
}

#addcitymodal .modal-dialog{
	max-width: 1030px;
    width: 100%;
}

.editcitymodal .modal-dialog{
	max-width: 1030px;
    width: 100%;
}

.errorinput{
	font-size: 14px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #f2dede;
	border-radius: 5px;
	border-color: #ebccd1;
	color: #a94442 !important;
}


/* 6. FOOTER */
footer{
	text-align: center;
	margin-top: 80px;
}

footer ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

footer ul li{
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
}

.footer-link a{
	text-decoration: none;
	font-size: 12px;
	color: #333333;
}

.copyright{
	font-size: 12px;
	color: #333333;
	margin-top: 10px;
	margin-bottom: 20px;
}
